html, body {
  overflow: hidden;
}

body {
  margin: 0px;
}

.wrapper {
  grid-column: 1 / 13;
  display: grid; 
  grid-template-rows: repeat(12, 8.33vh); 
}

.room-2col {
  grid-column: 1 / 13;
  grid-row: 1 / 13;
  display: grid;
  grid-template-columns: 90vh 1fr;
}

.chessboard-container { 
  border-right: 1px solid #333;
}

div.link-container {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 15;
  min-width: 400px;
  background-color: rgb(223, 223, 223);
  box-shadow: 1px 1px 4px 1px rgba(73, 73, 73, 0.4);
}

div.link-box {
  margin: 40px 20px 40px 20px;
  border: 1px solid white;
  background: white;
  color: #333;
  height: 40px;
}

div.link-box > p {
  outline: none;
  padding-left: 15px;
  color: #333;
  font-size: 15px;
  vertical-align: center;
  line-height: 40px;
}

div.link-header {
  color: #333;
  font-size: 18px;
  padding: 20px;
  border: 1px solid white;
  background: white;
}

div.link-header h3 {
  vertical-align: center;
  line-height: 3.5vh;
}


div.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40vh 8vh 52vh;
}

.video-container { 
  grid-column: 1;
  grid-row-start: 1; 
  grid-row-end: 2; 
}





/* Chatbar Messanger */

.chat-container { 
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 67% 15%;
  background: rgb(247, 247, 247)
}

.message-area {
  overflow: scroll;
  grid-row: 1 / 2;
  padding: 25px;
}

div.messages {
  font-size: 14;
  margin-bottom: 10px;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 1px rgba(78, 78, 78, 0.178);
}

div.messages > p {
  font-size: 14px;
}

.talkbubble-1 {
  float: left;
  clear: right;
  text-align: left;
  background: white;
  color: grey;
}

.talkbubble-2 {
  float: right;
  clear: both;
  text-align: right;
  background: rgb(4, 150, 247);
  color: white;
}

div.chatbar-container {
  display: grid;
  align-content: center;
  padding: 0px 30px 0px 30px;
  background: white;
}

form.chatbar > input {
  border: none;
  color: grey;
  background-color: transparent;
  font-size: 15px;
  padding: 5px 5px 5px 10px;
  width: 100%;
}


/* Modal Styling */

.modal-content {
  border: none;
}

div.modal-header {
  justify-content: center; 
  align-content: center;
  background-color: #333;
}

div.modal-title {
  text-align: center;
  font-weight: 700;
  color: white;
}

div.modal-title > p {
  font-size: 16px;
  font-weight: 500;
}

.modal-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
}

.modal-body > h4 {
  font-size: 20px;
  font-weight: 600;
}

.modal-body > p {
  font-size: 15px;
  line-height: 26px;
  padding: 0px 15px 0px 15px;
}

.btn-primary {
  background-color: transparent;
  color: #333;
  border: 2px solid #333;
  border-radius: 0;
  font-weight: 500;

}

.modal-footer > .btn {
  width: 50%;
}

.btn:focus {
  outline: none;
}

.btn:active {
  border: 2px solid #333;
}


.btn-primary:hover {
  background-color: #333;
  border: 2px solid #333;
  transition: all 0.3;
}

.btn-primary:focus {
  outline: none;
}

