.home-2col-grid {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* Left Side Styling */

.left-grid {
  display: grid;
  align-content: center;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1550239261-89b17e004488?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
  background-size: cover;
}

.left-grid h1 {
  color: white;
}

.new-game {
  display: grid;
  min-width: 400px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 8vh 25vh 7vh;
}

.new-game label {
  margin: 3px;
  color: white;
  transition: all 0.3s;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 6vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

label.time {
  padding: 5px;
  border-bottom: 2px solid white;
  font-weight: 700;
}

label.time:hover {
  background: white;
  color: #333;
}

.new-game input[type="radio"]:checked + label.time {
  background: white;
  color: #333;
}

.new-game input[type="radio"] {
  display: none;
}

img.color {
  height: 90px;
  transition: all 0.6s;
}

img.color:hover {
  transform: scale(1.4)
}

.new-game input[type="radio"]:checked + label > img.color {
  transform: scale(1.4)
}

.piece-color {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.get-link {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr;
}

input.link-btn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 2vh;
  margin: 3px;
  transition: all 0.6s;
}

input.link-btn:hover {
  background: white;
  color: #333;
}


/* Right Side Starts Here */

.right-grid {
  grid-column: 2 / 3;
  display: grid;
  align-content: center;
  justify-content: center;
}

h1.your-stats {
  color: #333;
}

div > .game-stats > ul > li {
  border: 1px solid #333;
  color: #333;
  margin-top: 5px;
  height: 7vh;
  width: 40vw;
}

.game-outcome > li > p {
  padding-left: 20px;
  display: inline-block;
  vertical-align: center;
  line-height: 7vh;
}

.game-icon {
  height: 100%;
  float: left;
}