.home-2col-grid {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* Left Side Styling */

.left-grid {
  display: grid;
  align-content: center;
  justify-content: center;
  background: #333;
}

.left-grid h1 {
  color: white;
}

.new-game {
  display: grid;
  min-width: 400px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10vh 30vh 7vh;
}

.new-game label {
  margin: 3px;
  color: white;
  transition: all 0.3s;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 9vh;
}

.new-game input[type="radio"] {
  display: none;
}

.new-game input[type="radio"]:checked + label {
  background-color: white;
  color: #333;
}

button.game-length {
  border: 1px solid white;
  color: white;
  font-weight: 600;
  font-size: 3vh;
  background-color: transparent;
}

button.game-length:focus {
  background-color: white;
  color: #333;
}

.piece-color {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

button.btn-color {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 3vh;
}

button.btn-color:focus {
  background-color: white;
  color: #333;
}

.get-link {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr;
}

input.link-btn {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 2vh;
  margin: 3px;
}

button.link-btn:focus {
  background-color: white;
  color: #333;
}


/* Right Side Starts Here */

.right-grid {
  grid-column: 2 / 3;
  display: grid;
  align-content: center;
  justify-content: center;
}

h1.your-stats {
  color: #333;
}

div > .game-stats > ul > li {
  border: 1px solid #333;
  color: #333;
  margin-top: 5px;
  height: 7vh;
  width: 40vw;
}

.game-outcome > li > p {
  padding-left: 20px;
  display: inline-block;
  vertical-align: center;
  line-height: 7vh;
}

.game-icon {
  height: 100%;
  float: left;
}