.chessbar-container {
  z-index: 10;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 35% 35% 15% 15%;
  grid-template-rows: 1fr;
}

.chessbar-container > div.timer {
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 8vh;
}

.chessbar-container > div.player1 {
  color: #999;
  background-color: #444;
}

.chessbar-container > div.player2 {
  background-color: #999;
}

.chessbar-container > div.resign {
  background-color: rgb(228, 67, 67);
  height: 100%;
}

.resign img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
  height: 5vh;
}

.chessbar-container > div.resign:hover {
  background-color: rgb(179, 53, 53);
}


.chessbar-container > div.draw {
  height: 100%;
  background-color: rgb(79, 79, 230);
}

.draw img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  color: white;
  height: 4vh;
}

.chessbar-container > div.draw:hover {
  background-color: rgb(63, 63, 187);
}


/* Option button styling */

div.option {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

div.option .yes-btn {
  background: #555;
  display: grid;
  justify-content: center;
  align-content: center;
}

div.option img {
  height: 30px;
}

div.option .no-btn {
  background: #444;
  display: grid;
  justify-content: center;
  align-content: center;
}