
html, body {
  overflow: hidden;
}

div > h1 {
  color: #333;
  padding: 20px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

#wrapper {
  grid-column: 1 / 13;
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: repeat(12, 1fr);
}

