#wrapper > nav {
  z-index: 10;
  grid-column: 1 / 13;
  display: grid;
  background-color: white;
  box-shadow: 1px 1px 6px 2px rgba(78, 78, 78, 0.4);
}

.logo {
  padding-left: 20px;
  padding-top: 9px;
  font-size: 4vh;
  font-weight: 700;
  color: #333;
  align-self: center;
  text-decoration: none;
  line-height: 7vh;
}

.logo > img {
  height: 6vh;
  float: left;
  padding-right: 10px;
}

.logout {
  grid-column-start: 14;
  font-size: 20px;
  align-self: center;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}